* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: center;      
    flex-direction: column;  
    position: relative;
}

.image-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.content h1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    color: #fff; /* white text */
    text-shadow: 
        0 0 5px #8847b3,  /* soft purple glow */
        0 0 10px #8847b3, 
        0 0 20px #8847b3;
}

.content h2 {
    font-size: 20px;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
    margin-bottom: 30px;
    position: center;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.Email-btn {
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.Emailo-btn:hover {
    background-color: #1a1a1a;
}

.view-portfolio-btn {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.view-portfolio-btn:hover {
    background-color: gray;
}
